* {
    margin: 0px;
    padding: 0px;
}

.author {
    padding: 2%;
    padding-left: 5%;
    color: rgb(234, 234, 234);
}

.bar {
    font-size: medium;
    text-align: left;
    max-height: 50vh;
    overflow: auto;
}

body {
    background-color: rgb(230, 230, 230);
    height: 100%;
    overflow: auto;
}

.CastorFiber {
    display: flex;
    float: right;
    width: 80%;
    margin: 1%;
}

.chapter_body {
    width: 80%;
    margin: auto;
}

.chapter {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
}

.chapter_foot {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    width: auto;
    padding: 5% 0;
}

.chapter_foot ul {
    display: flex;
    justify-content: center;
}

.chapter_foot ul a {
    font-size: 250%;
}

.chapter h1 {
    font-size: 300%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.chapter h3 {
    display: flex;
    justify-content: center;
    margin-top: -4%;
    padding-bottom: 5%;
}

.chapter_list {
    display: flex;
}

.chapter_nav {
    width: 95%;
    margin: auto;
}

.chapter_title {
    height: 5vh;
}

.chapter_list ul {
    width: 33%;
    height: 4vh;
}

.chara_img {
    padding-left: 10%;
}

.chara_img img {
    height: 30vh;
    width: 30vh;
}
.chara_text {
    width: 60%;
}

.content {
    width: 70%;
}

.div_title {
    font-size: 150%;
    text-align: center;
}

.end {
    text-align: right;
    font-size: normal;
    line-height: 200%;
}

footer {
    background-color: rgb(160, 170, 160);
    text-align: center;
    padding: 1vh;
}

header {
    background-image: url(../../header.jpg);
    background-size: cover;
}

.left {
    padding-left: 20%;
}

.leftbar {
    width: 75%;
    float: left;
}

li {
    padding: 1%;
}

main {
    width: 100%;
    padding: 100px 0;
    border-top: 2px solid rgb(210, 210, 210);
    border-bottom: 2px solid rgb(210, 210, 210);
}

main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.Mole {
    display: none;
    float: right;
    width: 80%;
    margin: 1%;
}

.Mouse {
    display: none;
    float: right;
    width: 80%;
    margin: 1%;
}

nav {
    background-color: rgb(200, 230, 200);
    display: flex;
}

nav ul {
    width: 7%;
    padding-inline: 2%;
    padding-block: 1%;
    text-align: center;
}

nav ul a {
    font-style: unset;
    font-size: 130%;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

nav ul:hover {
    background-color: rgb(170, 200, 170);
}

.quote {
    font-style: unset;
    color: black;
    text-decoration: none;
}

.right {
    padding-right: 30%;
}

.rightbar {
    width: 25%;
    float: left;
}

.sidebar {
    display: flex;
    height: auto;
    float: left;
}

.sidebar ul {
    width: 10vw;
    padding-left: 3vw;
    list-style-type: none;
}

.sidebar ul li {
    display: flex;
    height: 4vh;
    font-size: 110%;
    align-items: center;
    justify-content: center;
}

.subtitle {
    font-size: 200%;
    text-align: center;
}

.text {
    font-size: 150%;
    line-height: 200%;
}

.this {
    background-color: rgb(170, 200, 170);
}

.title {
    padding: 5%;
    font-size: 300%;
    color: rgb(234, 234, 234);
}

::-webkit-scrollbar {
    display: none;
}
